.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  -webkit-user-select: none;    /* Safari */
  -webkit-touch-callout: none;  /* iOS Safari */
  -khtml-user-select: none;     /* Konqueror HTML */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  -moz-user-select: none;       /* Old versions of Firefox */
   user-select: none;           /* Non-prefixed version*/
}

h1 {
  font-size: 128px;
  line-height: 1.6em;
  text-transform: uppercase;
}

h1 span {
  color: #ffffff;
  background-color: #000000;
  padding: 16px;
  font-size: 152px;
  cursor: pointer;
}

h1 span:hover {
  opacity: .6;
}

a {
  background-color: #000000;
  padding: 8px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
  opacity: .5;
}